* {
	margin:0;
	padding:0;
}
body {
	background-image: url('../img/FondoPrincipal.jpg');
	font-family: "Berlin Sans FB";
}
#SupDivContenedor{
	position: absolute;
	width: 100%;	height: 100%;
	left: 0;	top: 0;
	display: flex;
	justify-content: center;
    flex-direction: column;
	background-color: rgba(14,204,214,0.4);
	align-content: center;
	text-align: center;
	font-size: 110px;
}

.stroke{
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 2px black;
}
 
header {
	width:100%;
}

header nav {
	width:90%;
	margin: 20px auto;
	max-width:725px;
	background-color: rgba(18,175,183,1);
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background:#0fced8;
}
 
section {
	padding:20px;
}
 
@media screen and (max-width:800px ) {
	header nav {
		z-index: 1;
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position:absolute;
	}
 
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#12afb7;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}

.parallax {
    /* The image used */
    background-image: url('../img/Docdog.jpg');

    /* Full height */
    height: 100%;
    position: relative; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
		z-index: 0;
    }
}
.parallaxc {
    /* The image used */
    background-image: url('../img/parallaxc.jpg');

    /* Full height */
    height: 100%;
    position: relative; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallaxc {
        background-attachment: scroll;
    }
}
#divi{
	float: left;
	width: 45%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	text-align: center;
	
	
}
#divd{
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	text-align: justify;
	font-size:28px;
	
}
.parallax1 {
    /* The image used */
    background-image: url('../img/fondovet.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax1 {
        background-attachment: scroll;
    }
}
.parallaxc1 {
    /* The image used */
    background-image: url('../img/parallaxc.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallaxc1 {
        background-attachment: scroll;
    }
}
.parallax2 {
    /* The image used */
    background-image: url('../img/fondovet1.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax2 {
        background-attachment: scroll;
    }
}
.parallaxc2 {
    /* The image used */
    background-image: url('../img/parallaxc.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallaxc2 {
        background-attachment: scroll;
    }
}

img:hover{
	background: url('../img/fondox.jpg');
}

.Banner{
	margin-top: 20px;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFF;
	font-size: 100% !important;
	text-align: center;
}
.Btsubir{
	font-size:40px;
}

