#TextInicio{
    font-size: 22px;
}
.SeparadorInformacion{
    font-size: 16px;
    background-color: white;
    text-align: justify;
    align-content: center;
    font-family: Arial;
}
.SeparadorInformacionVacuna{
    margin-right: -40px;
    font-size: 16px;
    background-color: white;
    text-align: justify;
    align-content: center;
    font-family: Arial;
}
.CuadroTextoVerde{
    margin-left: 0;
    margin-right: -5px;
    background-color: #3c763d;
    border-radius: 25px;
}
.CuadroTextoContenido{
    margin: 20px auto;
    background-color: white;
    -moz-border-radius: 5px;
    border-radius: 50px;
}
.CuadroTextoContenidoFormato{
    margin-top: 10px;
    margin-left: 20px;
}
ul{
    list-style-type: square;
    list-style-image: url("../img/ANIMALES (353).png");
}
li{
    font-size: 16px;
}
.ContenedorConsulta{
    background-color: white;
}
.CabeceraConsulta{
    margin: 10px auto;
}
.CabeceraDesparasitacion{
    margin: 10px auto;
    left: 55%;
    top: 50%;
    height: 50%;
}
.Lianas{
    background-image: url("../img/Lianas.png");
    background-repeat: repeat-x;
    margin-bottom: 10px;
    width: 530px;
    height: 50px;
}
.TextoServicios{
    text-align: justify;
    font-size: 18px;
    font-family: "Times New Roman";
}
.ConImagen{
    text-align: center;
    margin: 20px auto;
}
.ListaVa{
    text-decoration: none;
    color: black;
    margin-left: 40px;
}
.DestacarImagenes{
    margin:0;
    padding: 0;
    text-align: center;
}
.DestacarTexto{
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: orange;
    font-style: italic;
    text-align: center;
}
.DestacarTextoSutil{
    text-decoration: none;
    color: orangered;
}
.DestacarTelefono{
    text-align: center;
    color: #2b669a;
}

.Ventas{
    margin-top: 20px;
}






