body
{
	width:100%;
}
h1
{
  font-family: "Berlin Sans FB";
  font-size: 32px;
  color: rgba(37,209,252,1);
}
p
{
  font-family: "Lucida Sans Unicode";
  color: white;
}

#div1
{
	width:100%;
}
#div2
{
	position: absolute;
	top: 370px;
	left: 355px;

}
button 
{
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

button:hover 
{
	background: rgba(0,0,0,0);
 	color: #3a7999;
 	box-shadow: inset 0 0 0 3px #3a7999;
}
.padre{
  position: relative;
  left: 50px;
  width:100%;
  margin: auto;

}

.hijo {
  background-color: rgba(20, 204, 23, 0.4);
  padding: 10px;
  width:100%;
  margin: auto;
  font-family: "Berlin Sans FB";
  text-align: center;
  
 

.videoContainer{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

.videoContainer video
{
    min-width: 100%;
    min-height: 100%;
}

  /* IMPORTANTE */
  display: inline-block;
}
.hexagon {
  position: relative;
  top:50px;
  left:250px;
  width: 150px; 
  height: 86.60px;
  margin: 43.30px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 161.6581px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,255,255,0.85);
  border-left: solid 5px #8080ff;
  border-right: solid 5px #8080ff;
}
.hexagon1 {
  position: relative;
  top:50px;
  left:170px;
  width: 150px; 
  height: 86.60px;
  margin: 43.30px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 161.6581px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,255,255,0.85);
  border-left: solid 5px #8080ff;
  border-right: solid 5px #8080ff;
}
.hexagon2 {
  position: relative;
  top:50px;
  left:250px;
  width: 150px; 
  height: 86.60px;
  margin: 43.30px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 161.6581px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,255,255,0.85);
  border-left: solid 5px #8080ff;
  border-right: solid 5px #8080ff;
}
.hexagon:hover,
.hexagon1:hover,
.hexagon2:hover,
.hexTop:hover,
.hexBottom:hover
{
  border-color: yellow;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 16.97px;
  box-shadow: 0 0 20px rgba(0,255,255,0.85);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 140.0000px;
  height: 80.82903768654762px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -53.0330px;
  border-top: solid 7.0711px #8080ff;
  border-right: solid 7.0711px #8080ff;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -53.0330px;
  border-bottom: solid 7.0711px #8080ff;
  border-left: solid 7.0711px #8080ff;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 140.0000px;
  height: 80.8290px;
  z-index: 2;
  background: inherit;
}

.flotar
{
  float: left;

}
.desc
{
  position: relative;
  height: 40%;
  width: 30%;
}
